{% extends 'base.html.twig' %}

{% block title %}Liste des Artistes{% endblock %}

{% block body %}
    <h1>Liste des Artistes</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_create_artist') }}" class="btn btn-primary">Créer un artiste</a>
    {% endif %}
    <ul>
        {% for artist in artists %}
            <li>
                {{ artist.name }}

            </li>
        {% else %}
            <p>Aucun artiste trouvé.</p>
        {% endfor %}
    </ul>
{% endblock %}

